<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- <link rel="icon" type="image/png" sizes="36x36" href="/images/favicon.png"> -->
    <!-- fontawsome -->
    <link rel="stylesheet" href="../public/css/fontawsome/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/solid.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/brands.min.css">
    <!-- bootstrap -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- plugins -->

    <!-- <link rel="stylesheet" href="css/plugins/owl.theme.default.min.css"> -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Griffy&display=swap" rel="stylesheet">
    <!-- main Styles -->
    <link rel="stylesheet" href="../public/font/flaticon.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/pagesStyle.css">
    <link rel="stylesheet" href="../public/css/colors/color.css">
    <link rel="stylesheet" href="../public/css/new-preloader.css">
    <title> | ABOUT US | </title>
</head>
<body>

<!-- ? Preloader Start -->
<!-- <div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text ">
              <img src="../photos/new/preloader.gif" alt="loader">
          </div>
      </div>
  </div>
</div> -->
<!-- Preloader end -->

<!--//////////////////////Home Section/////////////////////////// */
/* //////////////////////Home Section/////////////////////////// */ -->
<section class="about-page-header " id="about-page-header  ">
    <div class="">
  <nav class=" col-lg-12 navbar navbar-expand-lg navbar-dark ftco_navbar p-2  position-fixed ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="index"><img src="../public/photos/imgs/takeaway-catering-logo-large.png" alt="logo" width="70px" height="70px" ></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> <i class="fa fa-bars"></i> </span> 
          </button>
          <div class="collapse navbar-collapse ml-auto" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="index" class="nav-link ">Home</a></li>
              <li class="nav-item"><a href="about" class="nav-link activelink">about us</a></li>
              <li class="nav-item"><a href="how_it_work" class="nav-link ">How It Works</a></li>
              <li class="nav-item"><a href="faqs" class="nav-link">FAQS</a></li>
              <li class="nav-item"><a href="contact" class="nav-link  ">Contact us</a></li>
              <li class="nav-item"><a href="loginpage" class="nav-link  ">logIn/signUp</a></li>

              <li class="nav-item ml-5 ">
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- END nav -->
    <div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-sm-12 text-center welcomeTexte">
                    <h1 class="text-light">ABOUT US</h1>
                    <!-- <h5>ABOUT US <i class="fa fab-arrow-right"></i> </h5> -->
                    <span class="pages-header-span"> <a class="text-light" href="index.html"> <i class=" fas fa-home mr-2"></i> / HOME <i class=" mt-2  ml-3 fa fa-arrow-alt-circle-right"></i> </a>
                    </span> <span class=" text-danger ml-3">  ABOUT US </span>
                </div>
            </div>
        </div>
    </div>


</div>
</section>
<!-- <div class="about-bursh-img">
  <img class="img-fluid img-responsive" src="../photos/imgs/brush_bg.png " width="100%" height="400px" alt="">
</div> -->
<div class="about-img-circle text-center">
  <img class="img-fluid img-responsive" src="../public/photos/imgs/image1.png " width="300px" height="300px" alt="">
</div>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<section class=" about-page" id="About">
  <!-- <br><br><br><br> -->
<div class="container">
  <div class="text-center">
    <img  src="../public/photos/divider.png" alt="">
    <h1 class="text-center  text-title">ABOUT US </h1>
  </div>
 
  <div class="row">
     <!-- //////////////// -->
     <div class="col-lg-7 pl-5  about-text-about">
      <br><br>
      <h2 class="about-text-title">About take away </h2>
      <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy.</p>
        <p>It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout.
          The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using.</p>
          
          
  <!--Accordion wrapper-->
  <div class=" col-lg-10 accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist" aria-multiselectable="true">
  
  <!-- Accordion card -->
  <div class="card">
  
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingUnfiled">
    <!-- Heading -->
      <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfiled" aria-expanded="true"
        aria-controls="collapseUnfiled">
        <h5 class="mt-1 mb-0">
          <span class="text-danger">our vision</span>
          <i class=" text-danger fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
  
    </div>
  
    <!-- Card body -->
    <div id="collapseUnfiled" class="collapse show" role="tabpanel" aria-labelledby="headingUnfiled"
      data-parent="#accordionEx78">
      <div class="card-body">
  
        <!--Top Table UI-->
        <div class="table-ui p-2  mx-3 ">
  
          <!--Grid row-->
          <div class="row">
  
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Consequuntur velit minus impedit modi cum culpa sint vero unde, 
              nesciunt corporis ipsa accusamus odio voluptatum delectus tempore 
              quia nam? Impedit, iusto!</p>  
          </div>
          <!--Grid row-->
  
        </div>
  
      </div>
    </div>
  </div>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
  
  <div class="card">
  
    <!-- Card header -->
    <div class="card-header" role="tab" id="heading79">
    <!-- Heading -->
      <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapse79" aria-expanded="true"
        aria-controls="collapse79">
        <h5 class="mt-1 mb-0">
          <span class="text-danger " >our mission</span>
          <i class="text-danger fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
  
    </div>
  
    <!-- Card body -->
    <div id="collapse79" class="collapse " role="tabpanel" aria-labelledby="heading79"
      data-parent="#accordionEx78">
      <div class="card-body">
  
   <!--Top Table UI-->
   <div class="table-ui p-2  mx-3 ">
  
    <!--Grid row-->
    <div class="row">

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Consequuntur velit minus impedit modi cum culpa sint vero unde, 
        nesciunt corporis ipsa accusamus odio voluptatum delectus tempore 
        quia nam? Impedit, iusto!</p>

    </div>
    <!--Grid row-->

  </div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
  
  <div class="card">
  
    <!-- Card header -->
    <div class="card-header" role="tab" id="heading80">
    <!-- Heading -->
      <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapse80" aria-expanded="true"
        aria-controls="collapse80">
        <h5 class="mt-1 mb-0">
          <span class="text-danger ">our value</span>
          <i class="text-danger fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>
  
    <!-- Card body -->
    <div id="collapse80" class="collapse" role="tabpanel" aria-labelledby="heading80"
      data-parent="#accordionEx78">
      <div class="card-body">
  
        <!--Top Table UI-->
        <div class="table-ui p-2  mx-3 ">
       
         <!--Grid row-->
         <div class="row">
     
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Consequuntur velit minus impedit modi cum culpa sint vero unde, 
            nesciunt corporis ipsa accusamus odio voluptatum delectus tempore 
            quia nam? Impedit, iusto!</p>
     
         </div>
         <!--Grid row-->
     
       </div>
           </div>
    </div>
  </div>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->

 
  </div>
  <!--/.Accordion wrapper-->

  </div>
  <!-- //////////////// -->
      <!-- //////////////// -->
      <div class="col-lg-5 p-2 about-img-pages mt-3">
          
      </div>
      <!-- //////////////// -->
  </div>
</div>
</section>
<br><br>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->



<section class="team" id="team">
  <br><br>
<div class="container">
    <div class="text-center">
      <img  src="../public/photos/divider.png" alt="">
      <h1 class="text-center  text-title">  Meet our team </h1>
      <p>el matfeen </p>
    </div>

    <div class="row p-0 m-0">
      <!-- ///////////////////////////// -->
      <div style="background-color: #284159;" class="col-lg-3 col-md-6 col-sm-12 team-data team-data1">
        <h4 class="text-light mt-5">luay elzieny</h4>
        <h5 class="text-light mt-3">back end developer </h5>
        <p class="text-light mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Doloribus sunt perferendis officia. Iusto, deserunt magni?</p>  
           <div class=" text-right">
            <i class=" text-light fa fa-long-arrow-alt-right "></i>
          </div>
      </div>
      <!-- ///////////////////////////// -->
      <div style="background-image: url(../public/photos/team/luay-res.png);" class="col-lg-3 col-md-6 col-sm-12 team-img team-img1 "></div>
      <!-- ///////////////////////////// -->
      <div style="background-color: #5368A1;" class="col-lg-3 col-md-6 col-sm-12 team-data team-data2">
       
        <h4 class="text-light mt-5">mohamed ahmed menia</h4>
        <h5 class="text-light mt-3">back end developer </h5>
        <p class="text-light mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Doloribus sunt perferendis officia. Iusto, deserunt magni?</p>  
           <div class=" text-right">
            <i class=" text-light fa fa-long-arrow-alt-right "></i>
          </div>
      </div>
      <!-- ///////////////////////////// -->
      <div style="background-image: url(../public/photos/team/mania-1-res.png);" class="col-lg-3 col-md-6 col-sm-12 team-img team-img2 "></div>
      <!-- /////////////////////////////// -->
      <!-- ////////////////////////////////////////////// -->
      <!-- ////////////////////////////////////////////// -->
      <!-- ////////////////////////////////////////////// -->
        <!-- ///////////////////////////// -->
        <div style="background-image: url(../public/photos/team/yousef-res.png);" class="col-lg-3 col-md-6 col-sm-12 team-img team-img3"></div>
        <!-- ///////////////////////////// -->
        <!-- ///////////////////////////// -->
        <div style="background-color: #AAC1FD;" class="col-lg-3 col-md-6 col-sm-12 team-data team-data3">
          <h4 class="text-light mt-5">yousef ahmed reda</h4>
          <h5 class="text-light mt-3">back end developer </h5>
          <p class="text-light mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Doloribus sunt perferendis officia. Iusto, deserunt magni?</p>  
             <div class=" text-left">
              <i class=" text-light fa fa-long-arrow-alt-left "></i>
            </div>
        </div>
        <!-- ///////////////////////////// -->
            <!-- ///////////////////////////// -->
            <div style="background-image: url(../public/photos/team/darsh-res.png);" class="col-lg-3 col-md-6 col-sm-12 team-img team-img4"></div>
            <!-- ///////////////////////////// -->
            <!-- ///////////////////////////// -->
            <div style="background-color: #050505;" class="col-lg-3 col-md-6 col-sm-12 team-data team-data4">
              <h4 class="text-light mt-5">mostafa emad gomaa</h4>
              <h5 class="text-light mt-3">front end developer </h5>
              <p class="text-light mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Doloribus sunt perferendis officia. Iusto, deserunt magni?</p>  
                 <div class=" text-left">
                  <i class=" text-light fa fa-long-arrow-alt-left "></i>
                </div>
            </div>
            <!-- ///////////////////////////// -->
       
    </div>

</div>

</section>

<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<br><br><br><br>
<div class="text-center">
  <img  src="../public/photos/divider.png" alt="">
  <h1 class="text-center  text-title">    customers testemonials </h1>
  <p>our customers says </p>
</div>
<br>
<!-- Testimonial Slider Section -->
<img style="position: relative; top: 70px;" class="img-fluid img-responsive teste-white-buuble-top" src="../public/photos/team/customer-top-bg.png" alt="">
<section id="testimonial">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h2>Testimonial Slider</h2>
              </div>
              <div class="col-12">
                  <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Slide Indicators -->
                      <ol class="carousel-indicators">
                          <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                          <li data-target="#testimonialCarousel" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner" role="listbox">
                          <!-- Slide 1 -->
                          <div class="carousel-item active">
                              <div class="carousel-content">
                                  <div class="client-img"><img src="../public/photos/team/luay-face-res.png" alt="Testimonial Slider"></div>
                                  <h3>luay khaled <br><span>egypt</span></h3>
                                  <div class="">
                                    <i style="top: 180px; right: 100px;" class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 80px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 60px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 40px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 20px; " class=" text-warning fa fa-star-half-alt "></i>
                                  </div>
                                  <p class="col-md-8 offset-md-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
                              </div>
                          </div>
                          <!-- Slide 2 -->
                          <div class="carousel-item">
                              <div class="carousel-content">
                                <div class="client-img"><img src="../public/photos/team/menia.jpg" alt="Testimonial Slider"></div>
                                <h3>mohamed menia  <br><span>egypt</span></h3>
                                <div class="">
                                    <i style="top: 180px; right: 100px;" class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 80px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 60px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 40px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 20px; " class=" text-warning fa fa-star-half-alt "></i>
                                  </div>
                                  <p class="col-md-8 offset-md-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
                              </div>
                          </div>
                          <!-- Slide 3 -->
                          <div class="carousel-item">
                              <div class="carousel-content">
                                <div class="client-img"><img src="../public/photos/team/darsh-face.jpg" alt="Testimonial Slider"></div>
                                <h3>mostafa emad <br><span>egypt</span></h3>
                                <div class="">
                                    <i style="top: 180px; right: 100px;" class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 80px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 60px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 40px; " class=" text-warning fa fa-star "></i>
                                    <i style="top: 180px; right: 20px; " class=" text-warning fa fa-star-half-alt "></i>
                                  </div>
                                  <p class="col-md-8 offset-md-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
                              </div>
                          </div>
                          <!-- Slider pre and next arrow -->
                          <a class="carousel-control-prev text-white" href="#testimonialCarousel" role="button" data-slide="prev">
                          <!-- <i class="fas fa-chevron-left"></i> -->
                          <i class="fas fa-arrow-alt-circle-left"></i>
                          </a>
                          <a class="carousel-control-next text-white" href="#testimonialCarousel" role="button" data-slide="next">
                          <!-- <i class="fas fa-chevron-right"></i> -->
                          <i class="fas fa-arrow-alt-circle-right"></i>

                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <img style="position: relative; bottom: 70px;" class="img-fluid img-responsive teste-white-buuble-bootom" src="../public/photos/team/customer-bottom-bg.png" alt="">

  <!-- End Testimonial Slider Section -->




<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<section class="doc-photo">
  <div class="container">
    <!-- <h1 class="text-center ">mostafa</h1> -->
    <div class="text-center doc-photo-marg">
      <img class=" doctors-img-pre  ml-auto img-fluid img-responsive" src="../public/photos/imgs/takeaway-catering-logo-large.png" width="100px" height="100px" alt="doctors">
      <p class="p_has_fs">We care about your mental health </p>
    </div>
  </div>
</section>


<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path  fill="#eb102d" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
</svg>
<footer class="pt-4 section footer-classic context-dark bg-image p-5">
    
    <div class="container">
      <div class="row row-30">
        <div class="col-lg-3 col-md-6 col-sm-12 ">    

          <div class="pr-xl-4"><a class="footer-brand" href="index.html"><h1 style="color: #ffffff;">TAKE AWAY</h1></a>
            <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
          <img class="img-fluid img-responsive" src="../public/photos/footer-img-300x134.png" alt="">
          <div class=" mr-3 social">
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-twitter"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-facebook"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-instagram"></i></a>
          </div>

          </div>
        </div>
      <!-- /////////////////////////////// -->
        <div class="col-lg-3 col-md-6 col-sm-12 text-center footer-marg">
          <h5>POPULAR CITIES</h5>
          <ul class="nav-list ">
            <li><a href="#">10th of ramadan</a></li>
            <li><a href="#">Alf maskan</a></li>
            <li><a href="#">zagazeg</a></li>
            <li><a href="#">alexandria</a></li>
            <li><a href="#">the red sea</a></li>
          </ul>
          <a class="about-link " href="index.html">
             <h3 class="text-light mt-2" style="font-family: 'La Belle Aurore', cursive!important;"> TAKE AWAY </h3>
          </a> 

        </div>
          <!-- //////////////////////////// -->
              <!-- /////////////////////////////// -->
        <div class="col-lg-3 col-md-6 col-sm-12 text-center footer-marg">
          <h5>MENU</h5>
          <ul class="nav-list ">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">HOW IT WORKS</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
          <a class="about-link " href="index.html">
          </a> 

        </div>
          <!-- //////////////////////////// -->
          <div class="col-lg-3 col-md-6 col-sm-12 ">
            <h5>CONTACTS</h5>
            <dl class="contact-list">
              <dt>Address:</dt>
              <dd>798 South Park Avenue, Jaipur, Raj</dd>
            </dl>
            <dl class="contact-list">
              <dt>email:</dt>
              <dd><a href="mailto:#">TAKE_AWAY@gmail.com</a></dd>
            </dl>
            <dl class="contact-list">
              <dt>phones:</dt>
              <dd><a href="tel:#">01064697587</a> <br> <span>or</span> <br> <a href="tel:#">01143067577</a>
              </dd>
            </dl>
          </div>      
          <!-- //////////////////////////// -->
      </div>
      <!-- ///////////////////////// -->

      <hr style="background-color: rgb(255, 255, 255);">
      <div class="row p-3">
        <h6 class="mt-3 ml-3 ">Copyright ©2020 All rights reserved | This template is  made  by <a href="https://www.facebook.com/mostafa.emadgomaa">HTI STUDENT </a>  </h6>
        <span class="ml-auto mr-3" class="socials">
          <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-twitter"></i></a>
          <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-facebook"></i></a>
          <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-google-plus"></i></a>
          <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-pinterest"></i></a>
          <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-dribbble"></i></a>

        </span>
      </div>

    </div>
  </footer>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
 
  <!-- bootstrap -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet"> -->
  <script src="../public/js/bootstrap/jquery-3.5.1.js"></script>
  <script src="../public/js/bootstrap/popper.min.js"></script>
  <script src="../public/js/bootstrap/bootstrap.min.js"></script>
  <!-- fontawsome -->
  <script src="../public/js/fontawsome/fontawesome.min.js"></script>
  <script src="../public/js/fontawsome/solid.min.js"></script>
  <script src="../public/js/fontawsome/brands.min.js"></script>
  <!-- plugins -->
<!-- <script src="../js/plugins/vegas.js"></script>
<script src="../js/plugins/bootstrap-datepicker.js"></script>
<script src="../js/plugins/jquery.timepicker.min.js"></script>
<script src="../js/plugins/jquery.nice-select.js"></script>
<script src="../js/plugins/owl.carousel.min.js"></script>
<script src="../js/scrollax.min.js"></script>
<script src="../js/plugins/magicscroll.js"></script> -->

  <!-- main Styles --> 
  <script src="../public/js/custom.js"></script>


  <script>

    /* 1. Preloder */
    $(window).on('load', function () {
        $('#preloader-active').delay(1050).fadeOut('slow');
        $('body').delay(850).css({
          'overflow': 'visible'
        });
      });</script>
  </body>
  </html>