
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.png">
    <!-- <link rel="icon" type="image/png" sizes="36x36" href="/images/favicon.png"> -->
    <!-- fontawsome -->
    <link rel="stylesheet" href="../public/css/fontawsome/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/solid.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/brands.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">   
    <!-- <link rel="stylesheet" href="css/plugins/owl.theme.default.min.css"> -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Griffy&display=swap" rel="stylesheet">
    <!-- main Styles -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/colors/color.css">
    <link rel="stylesheet" href="../public/css/contact.css">
    <link rel="stylesheet" href="../public/css/new-preloader.css">
    <title> | Contact us| </title>

</head>
<body>

<!-- ? Preloader Start -->
<!-- <div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text ">
              <img src="../public/photos/new/preloader.gif" alt="loader">
          </div>
      </div>
  </div>
</div> -->


<section class="contact-banner">
    <nav class=" col-lg-12 navbar navbar-expand-lg navbar-dark ftco_navbar p-2  position-fixed ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="index"><img src="../public/photos/imgs/takeaway-catering-logo-large.png" alt="logo" width="70px" height="70px" ></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> <i class="fa fa-bars"></i> </span> 
          </button>
          <div class="collapse navbar-collapse ml-auto" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="index" class="nav-link ">Home</a></li>
              <li class="nav-item"><a href="about" class="nav-link ">about us</a></li>
              <li class="nav-item"><a href="how_it_work" class="nav-link ">How It Works</a></li>
              <li class="nav-item"><a href="faqs" class="nav-link ">FAQS</a></li>
              <li class="nav-item"><a href="contact" class="nav-link activelink ">Contact us</a></li>
              <li class="nav-item"><a href="loginpage" class="nav-link ">logIn/signUp</a></li>

              <li class="nav-item ml-5 ">
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-sm-12 text-center welcomeTexte">
                    <h1 class="text-light">Contact Us</h1>
                    <!-- <h5>ABOUT US <i class="fa fab-arrow-right"></i> </h5> -->
                    <span class="pages-header-span"> <a class="text-light" href="index.html"> <i class=" fas fa-home mr-2"></i> / HOME <i class=" mt-2  ml-3 fa fa-arrow-alt-circle-right"></i> </a>
                    </span> <span class=" text-danger ml-3 text-uppercase">  contact us </span>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->

<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-5 form-container pt-5 pb-5">
                <div class="text-center ">
                    <h1 class="text-capitalize">Send Your Message</h1>
                    <img src="../public/photos/new2/seperator.png" width="250px" alt=""> 
                    <h5 class="col-lg-9 text-center m-auto">Don’t hestiate to ask us something, Our customer support team always ready to help
                        you,they will support you 24/7.</h5>          
                </div>
                    <form class="contact-form mt-5 col-lg-8 text-center m-auto" >
                        <!-- ////////////////////////// -->
                        <div class=" mt-5 ">
                            <div class="col-md-12 p-1   ">
                                 <input type="text" class="p-2 col-lg-12 p-2" id="validationCustom" value="" required placeholder="Your Name*">
                            </div>
                            <div class="col-md-12 p-1 ">                
                                <input type="email" class="p-2 col-lg-12 p-2 " id="validationCustom" value="" required placeholder="Your Email*">
                            </div>
                            <div class="col-md-12 p-1 ">                
                                <textarea class="col-lg-12 p-2 " name="" id="" cols="20" rows="5"></textarea>
                            </div>
                        </div>
                        <!-- ////////////////////////////////////////// -->
                        
                        <div class="inner-butn"> <button class="btn btn-danger submit-btun  p-1 col-lg-2 p-2 col-md-6 col-sm-6 mb-3" type="submit">  Submit </button> </div> 
                    </form> 
            </div>
        </div>
    </div>
</section>



<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<section class="w-100 mt-5 p-0 m-0">
    <div class=" p-0 m-0 container-fluid w-100">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3445.2638823427264!2d31.7376614!3d30.2865485!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1457fdc719858575%3A0x5ea93cf0cea65166!2sHigher%20Technological%20Institute!5e0!3m2!1sen!2seg!4v1611352222954!5m2!1sen!2seg"  height="450" frameborder="0"
         style="border:0; width: 100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </section>
  
  
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->


  <footer class="  m-0 pt-4 section footer-classic context-dark bg-image p-5">
      
      <div class="container">
        <div class="row row-30">
          <div class="col-lg-3 col-md-6 col-sm-12 ">    
  
            <div class="pr-xl-4"><a class="footer-brand" href="index.html"><h1 style="color: #ffffff;">TAKE AWAY</h1></a>
              <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
            <img class="img-fluid img-responsive" src="../public/photos/footer-img-300x134.png" alt="">
            <div class=" mr-3 social">
              <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-twitter"></i></a>
              <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-facebook"></i></a>
              <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-instagram"></i></a>
            </div>
  
            </div>
          </div>
        <!-- /////////////////////////////// -->
          <div class="col-lg-3 col-md-6 col-sm-12 text-center footer-marg">
            <h5>POPULAR CITIES</h5>
            <ul class="nav-list ">
              <li><a href="#">10th of ramadan</a></li>
              <li><a href="#">Alf maskan</a></li>
              <li><a href="#">zagazeg</a></li>
              <li><a href="#">alexandria</a></li>
              <li><a href="#">the red sea</a></li>
            </ul>
            <a class="about-link " href="index.html">
               <h3 class="text-light mt-2" style="font-family: 'La Belle Aurore', cursive!important;"> TAKE AWAY </h3>
            </a> 
  
          </div>
            <!-- //////////////////////////// -->
                <!-- /////////////////////////////// -->
          <div class="col-lg-3 col-md-6 col-sm-12 text-center footer-marg">
            <h5>MENU</h5>
            <ul class="nav-list ">
              <li><a href="#">HOME</a></li>
              <li><a href="#">ABOUT US</a></li>
              <li><a href="#">HOW IT WORKS</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">CONTACT</a></li>
            </ul>
            <a class="about-link " href="index.html">
            </a> 
  
          </div>
            <!-- //////////////////////////// -->
            <div class="col-lg-3 col-md-6 col-sm-12 ">
              <h5>CONTACTS</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>798 South Park Avenue, Jaipur, Raj</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">TAKE_AWAY@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">01064697587</a> <br> <span>or</span> <br> <a href="tel:#">01143067577</a>
                </dd>
              </dl>
            </div>      
            <!-- //////////////////////////// -->
        </div>
        <!-- ///////////////////////// -->
  
        <hr style="background-color: rgb(255, 255, 255);">
        <div class="row p-3">
          <h6 class="mt-3 ml-3 ">Copyright ©2020 All rights reserved | This template is  made  by <a href="https://www.facebook.com/mostafa.emadgomaa">HTI STUDENT </a>  </h6>
          <span class="ml-auto mr-3" class="socials">
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-twitter"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-facebook"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-google-plus"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-pinterest"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-dribbble"></i></a>
  
          </span>
        </div>
  
      </div>
    </footer>
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- bootstrap -->
<script src="../public/js/bootstrap/jquery-3.5.1.js"></script>
<script src="../public/js/bootstrap/popper.min.js"></script>
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<!-- fontawsome -->
<script src="../public/js/fontawsome/fontawesome.min.js"></script>
<script src="../public/js/fontawsome/solid.min.js"></script>
<script src="../public/js/fontawsome/brands.min.js"></script>
<!-- plugins -->
<!-- <script src="../js/plugins/bootstrap-datepicker.js"></script>
<script src="../js/plugins/jquery.timepicker.min.js"></script> -->

  <!-- main Styles --> 
  <script src="../public/js/custom.js"></script>


  <script>
    /* 1. Preloder */
    // $(window).on('load', function () {
    //     $('#preloader-active').delay(1050).fadeOut('slow');
    //     $('body').delay(850).css({
    //       'overflow': 'visible'
    //     });
    //   });
  
 
</script>
  </body>
  </html>
