<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- <link rel="icon" type="image/png" sizes="36x36" href="/images/favicon.png"> -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <!-- fontawsome -->
    <link rel="stylesheet" href="../public/css/fontawsome/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/solid.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/brands.min.css">
    <!-- plugins -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Griffy&display=swap" rel="stylesheet">
    <!-- main Styles -->
    <link rel="stylesheet" href="../public/font/flaticon.css">
    <link rel="stylesheet" href="../public/css/colors/color.css">
    <link rel="stylesheet" href="../public/css/sucess.css">
    <link rel="stylesheet" href="../public/css/new-preloader.css">
    <title> | success page  | </title>
</head>
<body >


 <!-- ? Preloader Start -->
 <!-- <div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text ">
              <img src="photos/new/preloader.gif" alt="loader">
          </div>
      </div>
  </div>
</div> -->
<!-- Preloader end -->

<!--//////////////////////Home Section/////////////////////////// */
/* //////////////////////Home Section/////////////////////////// */ -->

<section class="header-404" id="header-404">
<div class=" container-fluid">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-5 col-sm-12  text-center welcomeText ">
            <div class="succes-div p-5">
              <img class="img-fluid" src="../public/photos/sucess.png" width="90px" height="90px" alt="">
               <h1 class="mt-3">Congratulations</h1>
               <h5 class="text-white mt-3 ">  Your order has been sent and confirmed <br> We await your arrival at the restaurant !! </h5>
              <p class="text-white mt-3"> go to <a class="text-danger" href="index.html" > <i class="fa fa-home"></i>  home</a> page </p>
            </div>
          </div>
      </div>
  </div>
</section>

<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->


  <!-- bootstrap -->
  <script src="../public/js/bootstrap/jquery-3.5.1.js"></script>
  <script src="../public/js/bootstrap/popper.min.js"></script>
  <script src="../public/js/bootstrap/bootstrap.min.js"></script>
  <!-- fontawsome -->
  <script src="../public/js/fontawsome/fontawesome.min.js"></script>
  <script src="../public/js/fontawsome/solid.min.js"></script>
  <script src="../public/js/fontawsome/brands.min.js"></script>
  <!-- plugins -->
  <!-- <script src="../js/plugins/vegas.js"></script>
  <script src="../js/plugins/bootstrap-datepicker.js"></script>
  <script src="../js/plugins/jquery.timepicker.min.js"></script>
  <script src="../js/plugins/jquery.nice-select.js"></script>
  <script src="../js/plugins/owl.carousel.min.js"></script>
  <script src="../js/scrollax.min.js"></script>
  <script src="../js/plugins/slick.min.js"></script> -->
  
  <!-- main Styles --> 
  <!-- <script src="../public/js/custom.js"></script>
  
  <script>

    /* 1. Preloder */
    $(window).on('load', function () {
        $('#preloader-active').delay(1050).fadeOut('slow');
        $('body').delay(850).css({
          'overflow': 'visible'
        });
      });

  </script> -->
  
  

  </body>
  </html>