<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Your Tears</title>
</head>
<body>
    
    <p>restaurant:<%=order.restaurant_name%></p>
    <p>Customer Name:The weeknd</p>
    <p>Order Number:222</p>
    <p>Content:<%=order.finishing_time%></p>
    <p>price:<%=order.total_price%></p>
</body>
</html>