@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Epilogue:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Homemade+Apple&family=Knewave&family=Merienda:wght@700&family=Monoton&family=Nanum+Pen+Script&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important;  
    outline: none!important;
   
}
body{
background-color: rgb(235, 232, 232)!important;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
.contact-banner {
    width: 100%;
    height: 500px;
    background:linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4)) ,
     url(../photos/friends.jpg) no-repeat center ;
    background-size: cover;
}
.navbar{ 
    background: transparent ;
    z-index: 1111;
}
nav.sticky {
    background: linear-gradient(rgba(0,0,0,0.9) , rgba(0,0,0,0.9))!important ;
    transition: 0.5s!important;
    z-index: 1111111111111111111111111111;
    padding: 0px 15px!important;
    transition:  all 0.8s ease;


}
nav.sticky .navbar-brand img{
    transition:  all 0.8s ease;
    width: 50px;height: 50px;
}
.welcomeTexte {
    margin-top: 150px;
 }
 .welcomeTexte h1{
     font-size: 100px;
    font-family: 'Cabin Sketch', cursive;
 }
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* .contact-form{
    
} */
.form-container{
    height: auto;
    border: 2px solid rgb(155, 154, 154);
    background-color: white;
    margin-top: -100px!important;
    

}
.form-container img {
    margin-bottom: 50px!important;
}
.form-container input,
.form-container textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
 }
 .form-container input::placeholder,
 .form-container textarea::placeholder{
    color: black;
  }
.submit-btun{
    font-size: 20px;
    color: black;
    border: 1px solid black !important;
    outline: none!important;
    background-color: transparent!important;
    border-radius: 50px;

}

.submit-btun:hover{

    color: black;
    
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */







@media screen and (max-width: 1357px) {     
    
 

}

@media screen and (max-width: 1199px) {     
    
  

}


@media screen and (max-width: 991px) {
  
    .welcomeTexte h1{
        font-size: 40px!important;
        transition: 0.4s;

    }
    .welcomeTexte h2{
        font-size: 25px;
        transition: 0.4s;

    }

}

@media screen and (max-width: 767px) { 
    .welcomeTexte {
        margin-top: 200px!important;
        transition: 1s;
    }
    .welcomeTexte h1{
        font-size: 30px;
    }
    .welcomeTexte h2{
        font-size: 20px;
    }
   
}

@media screen and (max-width: 575px) {
    
}

@media screen and (max-width: 350px) {
   
}
