.animate-divs div {
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    z-index: 11111;
    border: 6px solid rgba(241, 9, 40, 0.569);
    
    }
    
    .animate-divs div:nth-child(1) {
        top: 11%;
        left: 41%;
        animation: animate 10s linear infinite;    
    }
    
    .animate-divs div:nth-child(2) {
        top: 90%;
        left: 49%;
        animation: animate 7s linear infinite;    
    }
    
    .animate-divs div:nth-child(3) {
        top: 62%;
        left: 10%;
        animation: animate 9s linear infinite;    
    }
    
    .animate-divs div:nth-child(4) {
        top: 45%;
        left: 78%;
        animation: animate 5s linear infinite;    
    }
    
    .animate-divs div:nth-child(5) {
        top: 40%;
        left: 36%;
        animation: animate 6s linear infinite;    
    }
    @keyframes animate {
        0% {
          transform: scale(0) translateY(-90px) rotate(360deg);
          opacity: 1;
        }
        100% {
          transform: scale(1.3) translateY(-90px) rotate(-180deg);
          opacity: 0;
        }
      }
    