@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Homemade+Apple&family=Knewave&family=Merienda:wght@700&family=Monoton&family=Nanum+Pen+Script&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Epilogue:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important;  
    outline: none!important;
    /* font-family: 'Reem Kufi', sans-serif; */
}

body
{
    background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4)) ,
     url(../photos/new2/1.jpg ) no-repeat center ;
    background-size:cover;
}

.header-404{
    width: 100%;
    height: 100vh;

    
}

.welcomeText {
    margin-top: 50px;
}

.welcomeText h1{
    font-size:100px;
    letter-spacing: 5px;
    font-family: 'Gochi Hand', cursive;
    font-weight: 500;
    color: white!important;
}
.welcomeText h3{
    color: white!important;
    font-family: 'Gloria Hallelujah', cursive;
}

.welcomeText h1 span{
    font-family: 'Cabin Sketch', cursive;
    font-size: 300px!important;
}
.welcomeText h3 .span1{
    font-family: 'Epilogue', sans-serif;
    font-size: 100px!important;
}
.welcomeText h3 span h4 {
    font-family: 'Cabin Sketch', cursive;
    /* font-size: 40px; */
}


.pages-header-span a {
    font-style: 18px!important;
    font-weight: 1000!important;
    font-size: 20px!important;;
    color: white!important;
    font-family: 'Barriecito', cursive!important;
    transition: all 0.5s ease-in-out!important;

}


.bracket-text{
    text-transform: uppercase!important;
    font-size: 12px!important;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 5px;
    line-height: 30px;
}

.bracket-text a{ 
    font-style: 18px!important;
    font-weight: 1000!important;
    font-size: 20px!important;;
    color: black!important;
    font-family: 'Barriecito', cursive!important;

}
.fa-home{
    font-size: 25px;
}


/* .tata{
    font-family: 'Gloria Hallelujah', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Knewave', cursive;
font-family: 'Merienda', cursive;
font-family: 'Monoton', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Rock Salt', cursive;
} */

/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */

@media screen and (max-width: 1199px) {     
  
}


@media screen and (max-width: 991px) {
    .welcomeText {
        margin-top: 50px;
    }
   .welcomeText h1{
       margin-top: 0px;
   }
    .welcomeText h1 span{
        font-family: 'Cabin Sketch', cursive;
        font-size: 180px!important;
    }
    .error-img{
        width: 150px!important;
        height: 150px!important;
    }
    .welcomeText h3 .span1{
        font-family: 'Epilogue', sans-serif;
        font-size: 30px!important;
    }
    
    .bracket-text{
        text-transform: uppercase!important;
        font-size: 15px!important;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 5px;
        line-height: 30px;
    }
  
    
}

@media screen and (max-width: 767px) { 
    .welcomeText h1{
        margin-top: 80px;
    }
     .welcomeText h1 span{
         font-family: 'Cabin Sketch', cursive;
         font-size: 120px!important;
     }
     .error-img{
         width: 90px!important;
         height: 90px!important;
     }
     .welcomeText h3 .span1{
         font-family: 'Epilogue', sans-serif;
         font-size: 30px!important;
     }
     
     .bracket-text{
         text-transform: uppercase!important;
         font-size: 12px!important;
         font-family: 'Rock Salt', cursive;
         letter-spacing: 5px;
         line-height: 30px;

        }
}

@media screen and (max-width: 575px) {
    .welcomeText {
        margin-top: 0px;
    } 
    .welcomeText h1 span{
        font-family: 'Cabin Sketch', cursive;
        font-size: 100px!important;
    }
    .error-img{
        width: 60px!important;
        height: 60px!important;
    }
    .welcomeText h3 .span1{
        font-family: 'Epilogue', sans-serif;
        font-size: 25px!important;
    }
    
    .bracket-text{
        text-transform: uppercase!important;
        font-size: 11px!important;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 5px;
        line-height: 30px;

    }   
}

@media screen and (max-width: 350px) {
    .welcomeText {
        margin-top: 80px;
    }
    
}