@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Epilogue:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Homemade+Apple&family=Knewave&family=Merienda:wght@700&family=Monoton&family=Nanum+Pen+Script&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important;  
    outline: none!important;
    font-family: 'Reem Kufi', sans-serif;
}
/* body{
    height: 2000px;
} */

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
.about-page-howto {
    width: 100%;
    height: 550px;
    background: url(../photos/new/home-slide-3-1920x800.jpg) no-repeat center ;
    background-size: cover;
}
.navbar{ 
    background: transparent ;
    z-index: 1111;
}
nav.sticky {
    background: linear-gradient(rgba(0,0,0,0.9) , rgba(0,0,0,0.9))!important ;
    transition: 0.5s!important;
    z-index: 1111111111111111111111111111;
    padding: 0px 15px!important;
    transition:  all 0.8s ease;


}
nav.sticky .navbar-brand img{
    transition:  all 0.8s ease;
    width: 50px;height: 50px;
}
.welcomeTexte {
    margin-top: 150px;
 }
 .welcomeTexte h1{
     font-size: 100px;
    font-family: 'Cabin Sketch', cursive;
 }
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
.howto-about-img{
    width: 100%;
    height: 400px;
    background: url( ../photos/new/blogs-food-bakery-13-1-1.jpg ) no-repeat  center ;
    background-size: contain;  
    border-radius: 5px;
}
.about-btun{
   outline: none;
   border: none;
   padding:8px 20px 5px 20px; 
   line-height: 20px;
   font-size: 15px;
}


/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */


.iframe-window{
width: 100%;
height: 600px;
border: 5px solid #ddd;
}


/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */

  .faqs-home-slider {
    width: 100%;
    height: 650px;
}

 .faqs-home-slider  .swiper-container {
    width: 100%;
    height: 100%;
  }
 .faqs-home-slider  .swiper-slide {
    text-align: center;
    font-size: 15px;
    background: #fff;
    width: 100%!important;
    height: 100%!important;
    background:  no-repeat center ;
    background-size: cover!important; 
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .faqs-home-slider .welcomeTexte {
    margin-top: 50px;
 }
 .faqs-home-slider .welcomeTexte h1{
    font-size: 80px;
    font-family: 'Cabin Sketch', cursive;
 }
.faqs-container .card{
    border: none!important;
    text-align: left;
    font-family: 'Cabin Sketch', cursive!important;
    background-color: transparent!important;

} 
.faqs-container .card .card-header a h5 span,
.faqs-container .card .card-header a h5 .fa-angle-down{ 
        font-size: 17px!important;
        color: black!important;
}
 .faqs-container .card .card-header{
     background: transparent!important;
     border: none!important;
 }

  .faqs-heading{
     font-size: 33px!important;
     font-family: 'Cabin Sketch', cursive;
     font-weight: 800;

 }
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */

/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
@media screen and (max-width: 1357px) {     
    
   
    .teste-white-buuble-top{
        top: 50px!important;
    }
    .teste-white-buuble-bootom{
        bottom: 60px!important;

    }

}

@media screen and (max-width: 1199px) {     
    
    .about-bursh-img{
        display: none;
    }
    .teste-white-buuble-top{
        top: 50px!important;
    }
    .teste-white-buuble-bootom{
        bottom: 50px!important;
    }

}


@media screen and (max-width: 991px) {
  
    .welcomeTexte h1{
        font-size: 40px!important;
        transition: 0.4s;

    }
    .welcomeTexte h2{
        font-size: 25px;
        transition: 0.4s;

    }
    .about-img-circle{
        display: none;
    }
    .about-page{
        margin-top: 30px!important;
    }
    .teste-img{
       
        margin-left: 40%!important;
    }
    .fa-long-arrow-alt-left,
    .fa-long-arrow-alt-right{
        display: none;
    }
    .team-img1{
        order: 1;
    }
    .team-img2{
        order: 3;
    }
    .team-img3{
        order: 5;
    }
    .team-img4{
        order: 7;
    }
    .team-data1{
        order: 2;
    }
    .team-data2{
        order: 4;
    }
    .team-data3{
        order: 6;
    }
    .team-data4{
        order: 8;
    }
    .teste-white-buuble-top{
        top: 40px!important;
    }
    .teste-white-buuble-bootom{
        bottom: 40px!important;
    }
}

@media screen and (max-width: 767px) { 
    .welcomeTexte {
        margin-top: 200px!important;
        transition: 1s;
    }
    .welcomeTexte h1{
        font-size: 30px;
    }
    .welcomeTexte h2{
        font-size: 20px;
    }
    .team-img{
        width: 100%;
        height: 350px;
        background: url(../photos/team/luay-res.png) no-repeat center ;
        background-size: cover;
    }
    .teste-white-buuble-top{
        top: 35px!important;
    }
    .teste-white-buuble-bootom{
        bottom: 35px!important;
    }
}

@media screen and (max-width: 575px) {
    .teste-white-buuble-top{
        top: 22px!important;
    }
    .teste-white-buuble-bootom{
        bottom: 22px!important;
    } 
}

@media screen and (max-width: 350px) {
    .teste-white-buuble-top{
        top: 15px!important;
    }
    .teste-white-buuble-bootom{
        bottom: 15px!important;
    }
}
