@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important;  
    outline: none!important;
    font-family: 'Reem Kufi', sans-serif;
}
/* body{
   
} */

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
.login-page-banner {
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0,0,0,0.2) , rgba(0,0,0,0.2)),
    url(../photos/new2/1.jpg) no-repeat center ;
   background-size: cover;
   position: relative;
 
}


.nav-link{
    font-size: 20px!important;
}

.welcomeTexte {
    margin-top:10px!important;
 }
 .welcomeTexte h1{
     font-size: 40px;
    font-family: 'Cabin Sketch', cursive;
 }

.login-buttons{
    width: 100%;
    height: auto;
    background-color: black!important;
    background: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7))!important;
    margin-top: 50px;

}
.login-buttons input{
    background-color: transparent;
    outline: none;
     border: none;
    border-bottom: 1px solid #eee ;
    color:white!important;
    /* border-radius: 50px; */

}
.login-buttons input::placeholder{
    color:white!important;
    padding: 10px;
}

.login-buttons form span{
    text-shadow: 2px -1px 2px #ff0536;
}
.login-buttons form .login-btun{
    font-size: 20px;
    border: 1px solid white !important;
    outline: none!important;
    background-color: transparent!important;
     border-radius: 50px;
}
.login-buttons form .login-btun:hover {
    
    border: 1px solid white!important;

}
/* .background-photo{
    width: 100%;
    height: 600px;
    background: url(../photos/new2/15.jpg) no-repeat center;
    background-size: cover;
} */


.login-form{
    margin: 20px auto;
}

.login-form  h2{

    font-family: 'Reggae One', cursive;

}

.loginTap li a{
    background-color: transparent!important;
    border: none!important;

}

.loginTap li a:focus{
    border: 1px solid red;


}

.nav-tabs{
    /* border:none ; */
    outline: none;

}




.fa-user-circle{
    background-color: transparent;
    color: red;
    font-size: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */


















/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
@media screen and (max-width: 1357px) {     
    
   
 

}

@media screen and (max-width: 1199px) {     
    
 

}


@media screen and (max-width: 991px) {
  
    .welcomeTexte h1{
        font-size: 40px;
        transition: 0.4s;

    }
    .welcomeTexte h2{
        font-size: 25px;
        transition: 0.4s;

    }
    .login-buttons{
        
        margin: 0 auto;
    }
    
  
}

@media screen and (max-width: 767px) { 
    .welcomeTexte {
        margin-top: 100px!important;
        transition: 1s;
    }
    .welcomeTexte h1{
        font-size: 30px;
    }
    .welcomeTexte h2{
        font-size: 20px;
    }
    .login-buttons{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 575px) {
 
    .nav-tabs li{
        width: 50%;
    }
    
}

@media screen and (max-width: 350px) {
   
}