@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Gorditas&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important;  
    outline: none!important;
    font-family: 'Gorditas', cursive;
}

.map-data-bac{
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)),
    url(../photos/new3/pexels-fotografierende-3050833.jpg) no-repeat  center;
    background-size: cover;
}

.map-data-bac h1{
    margin-top: 200px;
    color: #E95884!important;
    font-family: 'Akronim', cursive;
    font-size: 60px;
}
.map-data-bac p{
    color: #ee7196!important;
    font-size: 12px;
    line-height: 25px;
    word-spacing: 3px;
    word-wrap: break-word;
    
}
.bac-home-map a{
    color: #aa6b7e!important;
    font-size: 14px;
}
.map-container{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
  } 
