*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important;  
    outline: none!important;
    font-family: 'Reem Kufi', sans-serif;
}
body{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.2) , rgba(0,0,0,0.2)),
    url(../photos/new2/28.jpg) no-repeat center ;
    background-size: cover;  
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */

.signUp-page-banner {
    width: 100%;
    height: auto;
}

.nav-link{
    font-size: 20px!important;
}

.welcomeTexte {
    margin-top:10px!important;
 }
 .welcomeTexte h1{
     font-size: 40px;
    font-family: 'Cabin Sketch', cursive;
 }

.signup-buttons{
    width: 100%;
    height: auto;
    background-color: black!important;
    background: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7))!important;
}
.signup-buttons input{
    background-color: transparent;
    outline: none;
    border: none!important;
    border-bottom: 1px solid white !important;
    color:white!important;
    /* border-radius: 50px; */

}
.signup-buttons input::placeholder{
    color:white!important;
    padding: 10px;
}

.signup-buttons form span{
    text-shadow: 2px -1px 2px #ff0536;
}
.signup-buttons form .signup-btun{
    font-size: 20px;
    border: 1px solid white !important;
    outline: none!important;
    background-color: transparent!important;
     border-radius: 50px;
}
.signup-buttons form .signup-btun:hover {
    
    border: 1px solid white!important;

}
/* .background-photo{
    width: 100%;
    height: 600px;
    background: url(../photos/new2/15.jpg) no-repeat center;
    background-size: cover;
} */


.signup-form{
    margin: 20px auto;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */


















/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
@media screen and (max-width: 1357px) {     
    
   
 

}

@media screen and (max-width: 1199px) {     
    .welcomeTexte {
        margin-top: 100px!important;
        transition: 1s;
    }
    .signup-buttons{
        max-width: 74.666667%!important;
        margin: 0 auto;
        margin-bottom: 50px!important;
    }

}


@media screen and (max-width: 991px) {
     
    .welcomeTexte h1{
        font-size: 40px;
        transition: 0.4s;

    }
    .welcomeTexte h2{
        font-size: 25px;
        transition: 0.4s;

    }
    .signup-buttons{
        margin: 0 auto;
        margin-bottom: 50px!important;
    }
    
  
}



@media screen and (max-width: 767px) { 
    .welcomeTexte {
        margin-top: 100px!important;
        transition: 1s;
    }
    .welcomeTexte h1{
        font-size: 30px;
    }
    .welcomeTexte h2{
        font-size: 20px;
    }
    .signup-buttons{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px!important;

    }
}

@media screen and (max-width: 575px) {
   
}

@media screen and (max-width: 350px) {
   
}