@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
body
{
height: 4000px!important;
    background-color: #f5f8ff;

}

#Home{
    width: 100%;
    height: 780px!important;
    background-size: contain;
    position: relative;
}

.navbar ul{
margin:  2%;

}
.navbar h2{
    margin:  2%
    }
    

.nav-item{
    color: #e0ece4;
}
.login{
    background-color:#1e5f74;
    border-radius: 10px
    ;padding: 10px;
}
.motto{
    text-align: center;
    padding-top: 10%;
    color: #e0ece4;
    z-index: 1;
}
.motto h1{
    font-size: 95px;
    font-family: 'Ranchers', cursive;
    font-weight: 700;
}
.motto h2{
    color: #132743;
    font-size: 40px;
    font-weight: 700;
}

.btun1{
    margin:1%;
    background-color: transparent;
    border: 3px solid #1e5f74 ;
    padding: 5px 15px ;
    color: white;
    font-weight: 700;
    transition: all 0.6s ease;
}

.vegas-timer {
    top: auto;
    bottom: 0;
    height: 0px;
}
.overlay{
    width: 100%;
    height: 780px!important;
    background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4))!important ;
    /* background-size: contain; */
}

.motto button:hover{
    background-color:#1e5f74;
    color: white;
}


.icon{
    color:#1e5f74;
    
}
.about-us {
    width: 100%;
    background-color: whitesmoke;
}
.about-text{
margin-top: 150px;
}
.about-text h2,
.about-us .title-text h1{
    color: #1e5f74;
}
.about-text p,
.about-us .title-text p{
color: #888;
}
.about-us-img {
    /* width: 600px;height: 600px; */
    width: 100%!important;
    height: 500px!important;
    background: url(../Images/about/Pngtree_psychiatry_psychology_professional_consultation_vector_5141799__1_-removebg-preview.png) no-repeat center ;
    background-size: contain; 

}
.about-btn{
    margin:1%;
    background-color: transparent;
    border: 3px solid #1e5f74 ;
    padding: 5px 15px ;
    color: black;
    border-radius: 40px;
    font-weight: 700;
    transition: all 0.6s ease;
}
.about-btn:hover{
    background-color:#1e5f74;
    color: white;
}

#services{
    width: 100%;
    height: auto;
    background:url(../images/gallery/department.png) no-repeat ;
    background-size: cover; 
}
.title-text h5{
    text-transform:uppercase;
    color: #042d41;
}

.title-text h1{
    font-size: 50px;
    font-weight: 700;
    color: #35befd;

}
.nav-tabs{
    border: none;
    display: flex;
    overflow: hidden;
}
.nav-tabs .nav-item {
    border: none;
    padding: 15px;
    height: 150px;

}
.nav-tabs .nav-item a {

    background-color: white;
    color: #35befd;
    border: none;
    font-size: 14px;
    
}
 .flaticon {
 text-align: center!important;
 font-size: 25px!important;   
}
.nav-tabs .nav-item a.active{
    background-color: #35befd;
    color: #fff;
}
.nav-tabs .nav-item a:focus{
    background-color: #35befd;
    color: #fff;
}
.bacimg{
    width: 100%;
    height: 500px;
    background: no-repeat ;
    background-size: cover;
}

