*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
body
{
height: 4000px!important;
}

#Home{
    width: 100%;
    height: 780px!important;
    background-size: contain;
    position: relative;
    }

.vegas-timer {
    top: auto;
    bottom: 0;
    height: 0px;
}
.overlay{
    width: 100%;
    height: 780px!important;
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5))!important ;
    /* background-size: contain; */
}










