@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize;
}
html{
    height: 100%!important;
}
body
{

    background-color: #f5f8ff;

}

#Home{
    width: 100%;
    height: 780px!important;
    background-size: contain;
    position: relative;
}

.navbar ul{
margin:  2%;

}
.navbar h2{
    margin:  2%
    }
    

.nav-item{
    color: #e0ece4;
}
.login{
    background-color:#1e5f74;
    border-radius: 10px
    ;padding: 10px;
}
.motto{
    text-align: center;
    padding-top: 10%;
    color: #e0ece4;
    z-index: 1;
}
.motto h1{
    font-size: 95px;
    font-family: 'Ranchers', cursive;
    font-weight: 700;
}
.motto h2{
    color: #132743;
    font-size: 40px;
    font-weight: 700;
}

.btun1{
    margin:1%;
    background-color: transparent;
    border: 3px solid #1e5f74 ;
    padding: 5px 15px ;
    color: white;
    font-weight: 700;
    transition: all 0.6s ease;
}

.vegas-timer {
    top: auto;
    bottom: 0;
    height: 0px;
}
.overlay{
    width: 100%;
    height: 780px!important;
    background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4))!important ;
    /* background-size: contain; */
}

.motto button:hover{
    background-color:#1e5f74;
    color: white;
}


.icon{
    color:#1e5f74;
    font-size: 90px!important;
    
}
.about-us {
    width: 100%;
    background-color: #eef3ff;
    padding: 40px 0px; 
}
.about-text{
margin-top: 150px;
}
.about-text h2,
.about-us .title-text h1{
    color: #1e5f74;
}
.about-text p,
.about-us .title-text p{
color: #888;
}
.about-us-img {
    /* width: 600px;height: 600px; */
    width: 100%!important;
    height: 500px!important;
    background: url(../Images/about/Pngtree_psychiatry_psychology_professional_consultation_vector_5141799__1_-removebg-preview.png) no-repeat center ;
    background-size: contain; 

}
.about-btn{
    margin:1%;
    background-color: transparent;
    border: 3px solid #1e5f74 ;
    padding: 5px 15px ;
    color: black;
    border-radius: 40px;
    font-weight: 700;
    transition: all 0.6s ease;
}
.about-btn:hover{
    background-color:#1e5f74;
    color: white;
}

#services{
    width: 100%;
    height: auto;
    
}
.title-text h5{
    text-transform:uppercase;
    color: #042d41;
}

.title-text h1{
    font-size: 50px;
    font-weight: 700;
    color: #1e5f74;

}
.nav-tabs{
    border: none;
    display: flex;
    overflow: hidden;
}
.nav-tabs .nav-item {
    border: none;
    padding: 15px;
    height: 150px;

}
.nav-tabs .nav-item a {

    background-color: white;
    color: #1e5f74;
    border: none;
    font-size: 14px;
    
}
 .flaticon{
 text-align: center!important;
 font-size: 75px!important;   
}
.nav-tabs .nav-item a.active{
    background-color: #1e5f74;
    color: #fff;
}
.nav-tabs .nav-item a:focus{
    background-color: #1e5f74;
    color: #fff;
}
.bacimg{
    width: 100%;
    height: 500px;
    background: no-repeat ;
    background-size: cover;
}

.backgrounddep{
    background-color: #1e5f74;
}

.active-li{
    margin-left: 80px;
}
.full-height p{
    margin-top: 35px;
}
/* .testimonial */
h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px
}

.Testimonials{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #eef3ff;
    padding: 100px 0px;
}

#myCarousel p{
color:  #333;
background-color: #f5f5f5;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #132743;
    left: 0;
    right: 0;
    bottom: -10px;
    border-radius: 5px;
}

.carousel {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px
}

.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 340px
}

.carousel .item a {
    color: #eb7245
}

.carousel .img-box {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    border-radius: 50%
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%
}

.carousel .testimonial {
    padding: 30px 0 10px
}

.testimonial {
    color: #000000;
    font: Times Roman
}

.carousel .overview {
    text-align: center;
    padding-bottom: 5px
}

.carousel .overview b {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px
}

.carousel .star-rating i {
    font-size: 18px;
    color: #ffdc12
}

.carousel .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #999;
    text-shadow: none;
    top: 4px
}

.carousel-control i {
    font-size: 20px;
    margin-right: 2px
}

.carousel-control.left {
    left: auto;
    right: 40px
}

.carousel-control.right i {
    margin-right: -2px
}

.carousel .carousel-indicators {
    bottom: 15px
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%
}

.carousel-indicators li {
    background: #e2e2e2;
    border-color: transparent
}

.carousel-indicators li.active {
    border: none;
    background: #888
}

#back-top{
    background:#132743;
    height:50px;width:50px;
    right:31px;bottom:18px;
    position:fixed;color:#fff;
    font-size:20px;text-align:center;
    border-radius:50%;
    line-height:48px;
    border:2px solid transparent;
    box-shadow:0 0 10px 3px rgba(75, 66, 66, 0.2)
}

#back-top a .fa-level-up-alt{
    color:white;
}
/* footer */

footer h2{
    text-align: left; text-decoration: none;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #1e5f74;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

/* .footer-logo{
    text-align: left;
} */


