@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important;  
    outline: none!important;
    /* font-family: 'Reem Kufi', sans-serif; */
}

body
{
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) ,
     url(../photos/tables/pexels-maria-orlova-4947396.jpg) no-repeat center ;
    background-size:cover;
}


/* .header-404{
    width: 100%;
    height: 100vh;
} */

/* .welcomeText {
  margin-top: 50px;
} */

.tables-div{

    background-image: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8));
    height: auto;
    margin-top: 150px!important;
    font-family: 'Barriecito', cursive!important;

}
.indvidual-table{
    width: 80%;
    height: auto;
    border: 1px solid #f3929f;
    padding: 16px;
    margin: 0 auto;

}

.tables-div h5 {
    font-family: 'Fredericka the Great', cursive;
    color: #f75066;
}
.table-del-btn {
    background-color: transparent;
    color: #f75066;
    border: 1px solid #fab0ba;
    outline: none!important;
}
.table-del-btn:hover {
    color: white;
   background-color:#f75066!important ;
   transition: all 0.7s ease-in-out ;
   border: 1px solid transparent;
}
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */

@media screen and (max-width: 1199px) {     
  
}


@media screen and (max-width: 991px) {
    .welcomeText {
        margin-top: 50px;
    }
   .succes-div h1{
    font-size: 22px;
    }
    .succes-div h5 {
        font-size: 15px;
    }
    .succes-div img {
        width: 80px;
        height: 80px;
      }
}
  
    


@media screen and (max-width: 767px) { 
    .welcomeText h1{
        margin-top: 80px;
    }
     .welcomeText h1 span{
         font-family: 'Cabin Sketch', cursive;
         font-size: 120px!important;
     }
     .error-img{
         width: 90px!important;
         height: 90px!important;
     }
     .welcomeText h3 .span1{
         font-family: 'Epilogue', sans-serif;
         font-size: 30px!important;
     }
     
     .bracket-text{
         text-transform: uppercase!important;
         font-size: 12px!important;
         font-family: 'Rock Salt', cursive;
         letter-spacing: 5px;
         line-height: 30px;

        }

}

@media screen and (max-width: 575px) {
    .welcomeText {
        margin-top: 0px;
    } 
    .welcomeText h1 span{
        font-family: 'Cabin Sketch', cursive;
        font-size: 100px!important;
    }
    .error-img{
        width: 60px!important;
        height: 60px!important;
    }
    .welcomeText h3 .span1{
        font-family: 'Epilogue', sans-serif;
        font-size: 25px!important;
    }
    
    .bracket-text{
        text-transform: uppercase!important;
        font-size: 11px!important;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 5px;
        line-height: 30px;

    }   
}

@media screen and (max-width: 350px) {
    .welcomeText {
        margin-top: 80px;
    }
    
}