
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important;  
    outline: none!important;
    /*     font-family: 'Jua', sans-serif!important;
 */
}
body{
    background-color: #d3d4d8!important;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
.profile-banner {
    width: 100%;
    height: 550px;
    background:linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4)),
     url(../photos/menu/resturant/profile-banner.jpg) no-repeat center ;
    background-size: cover;
}
.navbar-brand img{
    border-radius: 50%;
}
.navbar{ 
    background: transparent ;
    background: linear-gradient(rgba(0,0,0,0.9) , rgba(0,0,0,0.9))!important ;

    z-index: 1111;
}
nav.sticky {
    background: linear-gradient(rgba(0,0,0,0.9) , rgba(0,0,0,0.9))!important ;
    transition: 0.5s!important;
    z-index: 111111111;
    padding: 0px 15px!important;
    transition:  all 0.8s ease;


}
nav.sticky .navbar-brand img{
    transition:  all 0.8s ease;
    width: 150px;height: 50px;
}

.welcomeTexte {
    margin-top: 150px;
 }
 .welcomeTexte h1{
     font-size: 100px;
    font-family: 'Cabin Sketch', cursive;
 }


.dropdown-pages .dropdown-menu{
    background-color: #0d0d0d!important;
    border: 2px solid #7f7f7f;
    /* border-bottom-left-radius: 55px!important;
    border-top-right-radius:55px!important; */
}
/* .dropdown-pages .dropdown-item{
    color: #fff!important;
    background-color: transparent!important;
} */
.profile-image {border-radius: 50% }

.user-dropDown .dropdown-menu{
    width: 150px;
    height: auto;
}
.user-dropDown .dropdown-menu {
    background-color: #0d0d0d!important;
    border: 2px solid #7f7f7f;
}
.user-dropDown .dropdown-menu  ul li a{
    color: white!important;
}

/* //////////////////////////////////////////// */
/* /////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* /////////////////////////////////////////// */

.department .nav-pills-custom {
    background-color: white!important;
    border: 1px solid #E5E5E5;
}
 .nav-pills-custom .nav-link:focus span{
   color: #f30928!important;
}
.department .nav-link  {
     background-color: transparent!important;
     color: #EEE!important;
   
}


#v-pills-tabContent{
    border:1px solid #E5E5E5 ;
    background-color: white!important;
   
}

.order-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%!important;
    border: 1px solid #000;
    background-color: transparent;
}
.processing span{
    background-color:#1E73BE;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.cancelled span{
    background-color:#ff0000;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.p-in-review{color: #C9CCD6;font-size: 14px;}
.h5-in-review{color: #676167;font-size: 16px;}
.order-border{
    height:auto;
    border: 1px solid #EEE;
}
.p-in-order{color: #BBB2C3;font-size: 14px;}
.order_Details_btn{
    font-size: 12px;
    padding: 5px 15px;
    line-height: 22px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent!important;
}
.table{
    min-width: 100% !important;
    width: 100%;
    margin: 0 auto;
}
.cart-list{ overflow-x:scroll;}
.cart-list::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
.cart-list::-webkit-scrollbar-track {
      background-color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
   
  /* Handle */
.cart-list::-webkit-scrollbar-thumb {
    background: #dddddd; 
    border-radius: 7px;
  }
  
  /* Handle on hover */
.cart-list::-webkit-scrollbar-thumb:hover {
    background: #777777; 
  }

.pop-up-body{  
   margin-top: 250px;
}
 .fa-frown-open{color:#999999;font-size: 80px;}
 .delete-message{ color: #575757;}
 .yes-del{
    background-color: #eb102d;
    border: 0.5px solid #eb102d; 
    color: #fffefe; 
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.cancle-del{
    background-color: #D0D0D0;
    border: 0.5px solid #D0D0D0; 
    color: #fffefe; 
    border-radius: 5px;
    transition: all 0.5s ease-in-out;

}
.yes-del:hover{
    background-color: transparent;
    border: 0.5px solid #eb102d; 
    color: #eb102d; 

}
.cancle-del:hover{
    background-color: transparent;
    border: 0.5px solid #D0D0D0; 
    color: #D0D0D0; 

}
form .form-group label { color: #464160; }
form .form-group input { outline: none!important;color: #FDFDFD; }
.up-file{
    background-color: transparent;
    border: 1px solid #000;
    
}
#exampleModal-order-1 {
    margin-top: 50px!important;
}
.modal-content{
    width: 71%;
    margin: 0 auto;
    border: none;
}
.modal-header{
    border: none!important;
}
.modal-title{
    font-size:20px!important;
    color: black;
    /* border: none!important; */
}
.model-name{
    font-size: 17px!important;
    color: black;
}
.modal-order-data{
    font-size: 15px!important;
}
.first-span{
    color: #777777;
}
.second-span{
color: #313139;
}

.orderD-modal-content{
    height: 690px;
    overflow: scroll;
    overflow-x: hidden;
    

}

.orderD-modal-content::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .orderD-modal-content::-webkit-scrollbar-track {
      background-color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
   
  /* Handle */
  .orderD-modal-content::-webkit-scrollbar-thumb {
    background: #dddddd; 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  .orderD-modal-content::-webkit-scrollbar-thumb:hover {
    background: #777777; 
  }

.price-span{
    margin-left:10px!important;
    color: #777777;
}
/* //////////////////////////////////////////// */
/* /////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* /////////////////////////////////////////// */
/* .orderD-modal-content{
    background:linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)),
    url(../photos/new3/imgaya\ \(13\).jpg) no-repeat center ;
    background-size: cover;
    border-radius: 30px;
    color: white!important;
} */

.user-orders{
    height: 320px;
    overflow: scroll;
}
.user-orders::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
.user-orders::-webkit-scrollbar-track {
      background-color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
   
/* Handle */
.user-orders::-webkit-scrollbar-thumb {
    background: #7777; 
    border-radius: 7px;
  }
  
/* Handle on hover */
.user-orders::-webkit-scrollbar-thumb:hover {
    background: #777777; 
  }


/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
/* responsive *//* responsive */
@media screen and (max-width: 1357px) {     
    
    .links-ul li {
        width: 50%!important;
        padding: 5px!important;
    
        } 
   

}

@media screen and (max-width: 1199px) {     
    
    .navbar-brand{
        padding: 5px!important;
    }
    .links-ul li {
    width: 50%!important;
    padding: 5px!important;

    }
    .navbar-nav li{
        width: 100%;
        padding: 5px!important; 
    }
    

}


@media screen and (max-width: 991px) {
  
    .welcomeTexte h1{
        font-size: 40px!important;
        transition: 0.4s;

    }
    .welcomeTexte h2{
        font-size: 25px;
        transition: 0.4s;
    }
    .links-ul li {
        width: 100%!important;
        padding: 5px!important;
    
        }
        /* .order_Details_btn{
            width: 50px!important;
        } */
}

@media screen and (max-width: 767px) { 
    .welcomeTexte {
        margin-top: 200px!important;
        transition: 1s;
    }
    .welcomeTexte h1{
        font-size: 30px;
    }
    .welcomeTexte h2{
        font-size: 20px;
    }
    
}

@media screen and (max-width: 575px) {
     
}

@media screen and (max-width: 350px) {
  
}









